# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Python
.venv/

# Environment variables
.env
*.env
!.env.example